.difficulty {
  &__header {
    @include standard-header;
  }

  &__label {
    font-size: 2rem;
  }
}

.game__header {
  font-size: 5rem;
  position: relative;
  display: inline-block;
  z-index: 2;

  @include heading-underline;
}

.settings__header {
  @include standard-header;
}

.list-item {
  list-style: none;
  text-align: start;
  padding-left: 5rem;
  &__header {
    @include standard-header;
    font-size: 2rem;
  }

  &__text {
    display: inline-block;
    margin-left: 3rem;
    font-size: 2rem;
    font-weight: 500;
  }
}
