.game__home {
  background-color: $color-warm-primary;
  box-sizing: border-box;
  height: calc(100vh - 4rem);
  text-align: center;
  &__header {
    padding-top: 2rem;
    grid-area: title;
    place-self: center;
  }
}
