*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  padding: 1rem;
  background-color: beige;
}

.game {
  background-color: gray;
  text-align: center;
}

.game__header {
  padding-top: 1rem;
}
