.difficulty {
  margin: 1.5rem 3rem;
  text-align: center;
  width: 20rem;
}

.radio {
  margin: 1rem 0;
}

label {
  font-size: 1.5rem;
}

input[type="radio"] {
  opacity: 0;
  position: fixed;
}

input[type="radio"] + label {
  display: inline-block;
  width: 10rem;
  padding: 0.5rem;
  transition: all 0.2s ease;
  border-radius: 10px;
  border: 4px rgba(0, 0, 0, 0) dashed;
}

input[type="radio"]:checked + label {
  background-color: aliceblue;
}

input[type="radio"]:hover + label {
  border: 4px wheat dashed;
}
